/**
 * Copyright 2020-2026 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* --- desktop --- */

window.nemo-desktop-window notebook stack {
	border: 0;
}

/* --- nemo --- */

window.nemo-window toolbar image {
	min-width: 22px;
	min-height: 22px;
}

window.nemo-window box.sidebar scrolledwindow.frame {
	margin: 5px 0 1px;
	border-right: 1px solid @menu_border;
}

window.nemo-window paned paned notebook {
	margin-top: 5px;
}

window.nemo-window paned paned notebook:dir(ltr) tabs {
	padding-right: 21px; /* scrollbar width */
}

window.nemo-window paned paned notebook:dir(rtl) tabs {
	padding-left: 21px; /* scrollbar width */
}

window.nemo-window.maximized:not(.scrollfix) paned paned notebook:dir(ltr) tabs {
	/* without gtk3-classic (scrollbar__extra_zone.patch) */
	padding-right: 20px; /* scrollbar width - maximized css scroll fix */
}

window.nemo-window.maximized:not(.scrollfix) paned paned notebook:dir(rtl) tabs {
	/* without gtk3-classic (scrollbar__extra_zone.patch) */
	padding-left: 20px; /* scrollbar width - maximized css scroll fix */
}
