/**
 * Copyright 2020-2026 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* --- awf-gtk4 --- */

#AwfMainWindow button.awf-cheatcode-filebtn { min-height: 18px; }
#AwfMainWindow button.awf-cheatcode-folderbtn { min-height: 20px; }
#AwfMainWindow progressbar.awf-cheatcode-prbr2 { margin: 1px 0; }
#AwfMainWindow progressbar.awf-cheatcode-prbr2 progress { margin: 1px 0; }

#AwfMainWindow box.primary-toolbar:dir(ltr) button.image-button:nth-child(1),
#AwfMainWindow box.primary-toolbar:dir(ltr) button.image-button:nth-child(2) { margin-right: 28px; }

#AwfMainWindow box.primary-toolbar:dir(rtl) button.image-button:nth-child(1),
#AwfMainWindow box.primary-toolbar:dir(rtl) button.image-button:nth-child(2) { margin-left: 28px; }

#AwfMainWindow scrollbar.horizontal range { padding-left:15px; padding-right:15px; }
#AwfMainWindow scrollbar.vertical range { padding-top:15px; padding-bottom:15px; }
