/**
 * Copyright 2020-2025 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* menuitem label, popover label { background:pink; }
menuitem image, popover image { background:yellow; }
menuitem check, popover check { background:yellow; }
menuitem radio, popover radio { background:yellow; }
menuitem box { background:orange; }
menuitem > box > menuitem { background:red; }

menuitem { border:1px solid orange; }
menuitem label { border:1px solid lime; }
menuitem image { border:1px solid red; background:orange; }
menuitem radio { border:1px solid red; background:orange; }
menuitem check { border:1px solid red; background:orange; } */

/* --- multimedia osd --- */
/* @see https://github.com/mate-desktop/mate-settings-daemon/blob/e57d532ac69fc3f6f5a34d9ce648bbdfb6a81185/plugins/common/msd-osd-window.c#L215 */

.osd {
	/* with compositor: all applies to multimedia and alttab osd (for window and progressbar) */
	/* without compositor: only border-radius and border-color for multimedia osd */
	border: 1px solid @nb_border;
	border-radius: 10px;
	background: @theme_bg;
}

.osd .progressbar {
	/* with compositor: multimedia osd progressbar */
	border: 0;
	background: @theme_selected_bg;
}

.osd.msd-osd-window-solid {
	/* without compositor: multimedia osd window */
	border-radius: 0;
}

.osd.msd-osd-window-solid > box {
	/* without compositor: multimedia osd window background and background-border */
	background: @theme_bg;
	box-shadow:
		0 -11px @theme_bg, /* top */
		11px  0 @theme_bg, /* right */
		0  11px @theme_bg, /* bottom */
		-11px 0 @theme_bg, /* left */
		-11px -11px @theme_bg, /* top left */
		 11px -11px @theme_bg, /* top right */
		 11px  11px @theme_bg, /* bottom right */
		-11px  11px @theme_bg;  /* bottom left */
}

/* --- marco tabwin alttab alt-tab osd v1.28.x --- */
/* @see https://github.com/mate-desktop/marco/pull/796 */

frame.mate-tabwin > border {
	/* with or without compositor */
	/* without compositor avoid white background when popup is displayed over geany or terminal windows */
	border-radius: 0;
}

/* --- panel & button applets --- */
/* @see https://github.com/mate-desktop/mate-panel/pull/1474 */
/* @see https://github.com/mate-desktop/mate-media/pull/223 (volume applet) */
/* @see https://github.com/mate-desktop/mate-applets/pull/678 (character selector applet) */

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar button,
.mate-panel-menu-bar PanelApplet,
.mate-panel-menu-bar PanelApplet button,
.mate-panel-menu-bar .mate-panel-button {
	margin: 0;
	padding: 0;
	color: @theme_fg; /* mainly for mate keyboard layout indicator applet, but apply almost everywhere */
	border: 0;
	border-radius: 0;
	background: @theme_bg;
	box-shadow: none;
	outline: 0;
}

.mate-panel-menu-bar button,
.mate-panel-menu-bar PanelApplet,
.mate-panel-menu-bar PanelApplet button,
.mate-panel-menu-bar .mate-panel-button,
.mate-panel-menu-bar #window-menu-applet-button wnck-selector > menuitem {
	border: 1px solid transparent;
}

.mate-custom-panel-background button,
.mate-custom-panel-background PanelApplet button,
.mate-custom-panel-background .mate-panel-button {
	background: transparent;
}

.mate-panel-menu-bar button:checked,
.mate-panel-menu-bar PanelApplet:checked,
.mate-panel-menu-bar PanelApplet button:checked,
.mate-panel-menu-bar .mate-panel-button:checked,
.mate-panel-menu-bar .mate-volume-applet .menu-button:checked,
.mate-panel-menu-bar #clock-applet-button:checked,
.mate-panel-menu-bar #window-menu-applet-button wnck-selector > menuitem:hover,
.mate-panel-menu-bar #PanelApplet .mintmenu:selected,
.mate-panel-menu-bar #PanelApplet:selected .mate-menu,
#mintmenu viewport button:hover,
#mintmenu viewport button:not(.flat),
#mate-menu viewport button:hover,
#mate-menu viewport button:not(.flat) {
	/* this is the menuitem hover */
	color: @menuitem_hover;
	border: 1px solid @menuitem_hover_border;
	background:
		radial-gradient(ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge),
		linear-gradient(to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mida 50%,
			@menuitem_hover_glaze_midb 50%,
			@menuitem_hover_glaze_bot);
	box-shadow: none;
}

.mate-panel-menu-bar.top button:checked,
.mate-panel-menu-bar.top PanelApplet:checked,
.mate-panel-menu-bar.top PanelApplet button:checked,
.mate-panel-menu-bar.top .mate-panel-button:checked,
.mate-panel-menu-bar.top .mate-volume-applet .menu-button:checked,
.mate-panel-menu-bar.top #clock-applet-button:checked,
.mate-panel-menu-bar.top #window-menu-applet-button wnck-selector > menuitem:hover,
.mate-panel-menu-bar.top #PanelApplet .mintmenu:selected,
.mate-panel-menu-bar.top #PanelApplet:selected .mate-menu {
	border-bottom-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar.right button:checked,
.mate-panel-menu-bar.right PanelApplet:checked,
.mate-panel-menu-bar.right PanelApplet button:checked,
.mate-panel-menu-bar.right .mate-panel-button:checked,
.mate-panel-menu-bar.right .mate-volume-applet .menu-button:checked,
.mate-panel-menu-bar.right #clock-applet-button:checked,
.mate-panel-menu-bar.right #window-menu-applet-button wnck-selector > menuitem:hover,
.mate-panel-menu-bar.right #PanelApplet .mintmenu:selected,
.mate-panel-menu-bar.right #PanelApplet:selected .mate-menu {
	border-left-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar.bottom button:checked,
.mate-panel-menu-bar.bottom PanelApplet:checked,
.mate-panel-menu-bar.bottom PanelApplet button:checked,
.mate-panel-menu-bar.bottom .mate-panel-button:checked,
.mate-panel-menu-bar.bottom .mate-volume-applet .menu-button:checked,
.mate-panel-menu-bar.bottom #clock-applet-button:checked,
.mate-panel-menu-bar.bottom #window-menu-applet-button wnck-selector > menuitem:hover,
.mate-panel-menu-bar.bottom #PanelApplet .mintmenu:selected,
.mate-panel-menu-bar.bottom #PanelApplet:selected .mate-menu {
	border-top-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar.left button:checked,
.mate-panel-menu-bar.left PanelApplet:checked,
.mate-panel-menu-bar.left PanelApplet button:checked,
.mate-panel-menu-bar.left .mate-panel-button:checked,
.mate-panel-menu-bar.left .mate-volume-applet .menu-button:checked,
.mate-panel-menu-bar.left #clock-applet-button:checked,
.mate-panel-menu-bar.left #window-menu-applet-button wnck-selector > menuitem:hover,
.mate-panel-menu-bar.left #PanelApplet .mintmenu:selected,
.mate-panel-menu-bar.left #PanelApplet:selected .mate-menu {
	border-right-color: @menuitem_hover_border_bottom;
}

/* --- main menu applet --- */

.mate-panel-menu-bar menubar > menuitem > image {
	margin: 0 1px;
}

.mate-panel-menu-bar menubar > menuitem {
	margin: 0;
	padding: 0 5px 0 6px;
	border-radius: 0;
}

.mate-panel-menu-bar menubar:dir(rtl) > menuitem {
	padding: 0 6px 0 5px;
}

.mate-panel-menu-bar.vertical menubar > menuitem {
	padding: 6px 0 5px 0;
}

.mate-panel-menu-bar.vertical menubar:dir(rtl) > menuitem {
	padding: 5px 0 6px 0;
}

.mate-panel-menu-bar.right menubar > menuitem:hover {
	border-bottom-color: @menuitem_hover_border; /* reset */
	border-left-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar.bottom menubar > menuitem:hover {
	border-bottom-color: @menuitem_hover_border; /* reset */
	border-top-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar.left menubar > menuitem:hover {
	border-bottom-color: @menuitem_hover_border; /* reset */
	border-right-color: @menuitem_hover_border_bottom;
}

.mate-panel-menu-bar menuitem > box > menuitem {
	margin: 0 -5px 0 -5px;
	padding: 0 3px 0 10px;
	border: 0;
}

.mate-panel-menu-bar menuitem > box > menuitem check {
	margin-left: -1px;
}

/* --- character selector applet v1.28.x --- */
/* @see https://github.com/mate-desktop/mate-applets/pull/678 */

.mate-panel-menu-bar #PanelApplet .mate-charpick-applet .menu-button:active:hover:not(:checked) {
	background: transparent;
}

.mate-panel-menu-bar #PanelApplet .mate-charpick-applet .menu-button:checked {
	/* border disabled by application */
	box-shadow:
		inset  0 1px @menuitem_hover_border, /* top */
		inset -1px 0 @menuitem_hover_border, /* right */
		inset 0 -1px @menuitem_hover_border_bottom, /* bottom */
		inset  1px 0 @menuitem_hover_border; /* left */
}

.mate-panel-menu-bar.right #PanelApplet .mate-charpick-applet .menu-button:checked {
	/* border disabled by application */
	box-shadow:
		inset  0 1px @menuitem_hover_border, /* top */
		inset -1px 0 @menuitem_hover_border, /* right */
		inset 0 -1px @menuitem_hover_border, /* bottom */
		inset  1px 0 @menuitem_hover_border_bottom; /* left */
}

.mate-panel-menu-bar.bottom #PanelApplet .mate-charpick-applet .menu-button:checked {
	/* border disabled by application */
	box-shadow:
		inset  0 1px @menuitem_hover_border_bottom, /* top */
		inset -1px 0 @menuitem_hover_border, /* right */
		inset 0 -1px @menuitem_hover_border, /* bottom */
		inset  1px 0 @menuitem_hover_border; /* left */
}

.mate-panel-menu-bar.left #PanelApplet .mate-charpick-applet .menu-button:checked {
	/* border disabled by application */
	box-shadow:
		inset  0 1px @menuitem_hover_border, /* top */
		inset -1px 0 @menuitem_hover_border_bottom, /* right */
		inset 0 -1px @menuitem_hover_border, /* bottom */
		inset  1px 0 @menuitem_hover_border; /* left */
}

.mate-panel-menu-bar #PanelApplet .mate-charpick-applet .text-button {
	min-width: 5px;
	box-shadow: none;
}

.mate-panel-menu-bar #PanelApplet .mate-charpick-applet .text-button:active {
	/* border disabled by application */
	box-shadow:
		inset 1px 1px @menuitem_hover_border,   /* top left */
		inset -1px -1px @menuitem_hover_border; /* right bottom */
}

.mate-panel-menu-bar #PanelApplet .mate-charpick-applet .text-button:checked {
	color: inherit;
	background: transparent;
}

/* --- compact main menu applet v1.28.x --- */
/* @see https://github.com/mate-desktop/mate-panel/pull/1474 */

.mate-panel-menu-bar .mate-panel-compact-menu-button {
	margin: -1px; /* to enable border with box-shadow:none */
	outline: 0;
}

/* --- clock button applet --- */

.mate-panel-menu-bar #clock-applet-button > box {
	margin: 0 1px;
}

.mate-panel-menu-bar #clock-applet-button:focus:not(:checked),
.mate-panel-menu-bar #clock-applet-button:active:hover:not(:checked) {
	border: inherit;
	color: inherit;
	background: transparent;
}

.mate-panel-menu-bar #clock-applet-button:checked > box {
	border: 0;
	background: transparent;
}

.mate-panel-menu-bar #clock-applet-button label {
	margin-top: 1px;
}

#MatePanelPopupWindow frame border {
	border-radius: 0;
}

#MatePanelPopupWindow frame > box > box > box > widget {
	/* @see https://github.com/mate-desktop/mate-panel/blob/e2065669e8e992ebaf23433dfc979caea171ed89/applets/clock/clock-map.c#L213 */
	/* the map border color */
	color: @frame_border;
}

/* --- window selector button applet --- */

.mate-panel-menu-bar #window-menu-applet-button wnck-selector > menuitem {
	margin: 0;
	border-radius: 0;
}

.mate-panel-menu-bar #window-menu-applet-button wnck-selector > menuitem > image {
	margin: 1px 4px 2px;
}

.mate-panel-menu-bar #window-menu-applet-button wnck-selector > menuitem:hover > image {
	border: 0;
	background: transparent;
}

.mate-panel-menu-bar #window-menu-applet-button wnck-selector separator {
	margin: 0 6px;
	border: 0;
}

.mate-panel-menu-bar #window-menu-applet-button wnck-selector separator label {
	margin: 4px 0 3px;
}

/* --- system monitor applet --- */

.mate-panel-menu-bar .multiload-applet box.horizontal {
	padding: 1px 0 2px;
}

.mate-panel-menu-bar .multiload-applet box.vertical {
	border: 0;
}

.mate-panel-menu-bar .multiload-applet box.vertical frame {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_border;
}

.mate-panel-menu-bar .multiload-applet box.vertical border {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_shadow_dark;
}

/* --- window list applet --- */

.mate-panel-menu-bar #tasklist-button {
	border: 0;
}

.mate-panel-menu-bar #tasklist-button box {
	margin: 1px;
	padding: 0 2px;
	border: 1px solid #AB9E92; /* @todo */
	border-radius: 3px;
}

.mate-panel-menu-bar #tasklist-button:checked {
	color: inherit;
	background: inherit;
}

.mate-panel-menu-bar #tasklist-button:checked box {
	padding: 0 2px;
	border: 1px solid #988B7F; /* @todo */
}

/* --- virtual desktop selector applet --- */

.mate-panel-menu-bar .wnck-pager,
.mate-panel-menu-bar .wnck-applet {
	color: @theme_fg; /* the border color of windows */
	background-color: @theme_bg; /* the left/right border color and (shaded) background color / #E6DDD5 but #E6DDD4 » #AD9A89 but #A19B95 */
}

.mate-panel-menu-bar .wnck-pager:selected,
.mate-panel-menu-bar .wnck-applet .wnck-pager:selected {
	background-color: shade(@theme_selected_bg, 0.7); /* the background color of windows / #5D453B */
}

/* --- grip for notification area & window list applet --- */

.mate-panel-menu-bar MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
	background-image: url("img/pane-separator-grip-horz.svg");
	background-repeat: no-repeat;
	background-position: 2px center;
	background-size: 6px 10px;
}

/* --- mint menu applet v6.2.1 --- */
/* @see https://github.com/linuxmint/mintmenu/pull/285 */

.mate-panel-menu-bar #PanelApplet .mintmenu {
	border: 1px solid transparent;
}

.mate-panel-menu-bar #PanelApplet .mintmenu image {
	margin: 0 1px;
}

#mintmenu {
	border: 1px solid @button_border;
	background: @menu_bg;
}

#mintmenu viewport,
#mintmenu notebook stack {
	border: 0;
}

#mintmenu notebook,
#mintmenu scrollbar {
	background: transparent;
}

#mintmenu viewport button {
	border-radius: 4px;
}

#mintmenu .mint-places {
	margin-top: 7px;
}

#mintmenu:dir(ltr) .mint-places .mint-title,
#mintmenu:dir(ltr) .mint-system-management .mint-title {
	margin-left: 3px;
}

#mintmenu:dir(rtl) .mint-places .mint-title,
#mintmenu:dir(rtl) .mint-system-management .mint-title {
	margin-right: 3px;
}

#mintmenu .mint-applications .mint-title {
	margin-bottom: 3px;
}

#mintmenu:dir(ltr) .mint-applications .mint-title > label {
	margin-left: -4px;
}

#mintmenu:dir(rtl) .mint-applications .mint-title > label {
	margin-right: -4px;
}

#mintmenu .mint-applications .mint-categories-list button label {
	margin: -2px 0 2px;
}

#mintmenu .mint-applications .mint-applications-list {
	margin-top: -6px;
}

#mintmenu:dir(ltr) .mint-search {
	padding: 10px 30px 10px 3px;
}

#mintmenu:dir(rtl) .mint-search {
	padding: 10px 3px 10px 30px;
}

/* --- mate menu applet v22.04.3 --- */
/* @see https://github.com/ubuntu-mate/mate-menu/pull/89 */

.mate-panel-menu-bar #PanelApplet .mate-menu {
	border: 1px solid transparent;
}

.mate-panel-menu-bar #PanelApplet .mate-menu image {
	margin: 0 1px;
	min-width: 22px;
}

#mate-menu {
	border: 1px solid @button_border;
	background: @menu_bg;
}

#mate-menu widget {
	background: transparent;
}

#mate-menu viewport,
#mate-menu notebook stack {
	border: 0;
	background: transparent;
}

#mate-menu notebook,
#mate-menu scrollbar {
	background: transparent;
}

#mate-menu viewport button {
	border-radius: 4px;
}

#mate-menu .mint-places {
	margin-top: 7px;
}

#mate-menu:dir(ltr) .mint-places .mint-title,
#mate-menu:dir(ltr) .mint-system-management .mint-title {
	margin-left: 3px;
}

#mate-menu:dir(rtl) .mint-places .mint-title,
#mate-menu:dir(rtl) .mint-system-management .mint-title {
	margin-right: 3px;
}

#mate-menu .mint-applications .mint-title {
	margin-bottom: 3px;
}

#mate-menu:dir(ltr) .mint-applications .mint-title > label {
	margin-left: -4px;
}

#mate-menu:dir(rtl) .mint-applications .mint-title > label {
	margin-right: -4px;
}

#mate-menu .mint-applications .mint-categories-list button label {
	margin: -2px 0 2px;
}

#mate-menu .mint-applications .mint-applications-list {
	margin-top: -6px;
}

#mate-menu:dir(ltr) .mint-search {
	padding: 10px 30px 10px 3px;
}

#mate-menu:dir(rtl) .mint-search {
	padding: 10px 3px 10px 30px;
}

/* --- lock screen --- */

.lock-dialog,
.lock-dialog frame,
.lock-dialog border,
.lock-dialog notebook,
.lock-dialog stack,
.lock-dialog stack > box {
	border: 0;
	border-radius: 0;
	background: @theme_bg;
}

.lock-dialog frame {
	border: 1px solid @nb_border;
}

.lock-dialog entry {
	padding-left: 0;
}

.lock-dialog textview {
	padding: 2px;
}

/* --- caja --- */

window.caja-navigation-window:dir(ltr) notebook.caja-notebook tabs {
	padding-right: 21px; /* scrollbar width */
}

window.caja-navigation-window:dir(rtl) notebook.caja-notebook tabs {
	padding-left: 21px; /* scrollbar width */
}

window.caja-navigation-window.maximized:not(.scrollfix):dir(ltr) notebook.caja-notebook tabs {
	/* without gtk3-classic (scrollbar__extra_zone.patch) */
	padding-right: 20px; /* scrollbar width - maximized css scroll fix */
}

window.caja-navigation-window.maximized:not(.scrollfix):dir(rtl) notebook.caja-notebook tabs {
	/* without gtk3-classic (scrollbar__extra_zone.patch) */
	padding-left: 20px; /* scrollbar width - maximized css scroll fix */
}

window.caja-navigation-window:dir(ltr) notebook.caja-notebook scrolledwindow.frame scrollbar.vertical {
	margin-left: 0;
	background: @theme_bg;
}

window.caja-navigation-window:dir(rtl) notebook.caja-notebook scrolledwindow.frame scrollbar.vertical {
	margin-right: 0;
	background: @theme_bg;
}

window.caja-navigation-window notebook.caja-notebook scrolledwindow.frame scrollbar.horizontal {
	margin-top: 0;
	background: @theme_bg;
}

window.caja-navigation-window notebook.caja-notebook scrolledwindow.frame treeview.view:disabled {
	background-color: lighter(darker(@theme_base));
}

window.caja-navigation-window stack {
	border: 0;
}

window.caja-navigation-window statusbar {
	border-top: 0;
}

window.caja-navigation-window statusbar frame {
	border: 0;
}

/* --- mate-terminal --- */

window.mate-terminal box.vertical notebook {
	margin: 0;
}

window.mate-terminal box.vertical notebook stack {
	border: 0;
	border-radius: 0;
}

window.mate-terminal box.vertical notebook header.top {
	margin: 0 0 1px;
}

window.mate-terminal:not(.maximized) box.vertical notebook header.top ~ stack {
	border: 1px solid @nb_border;
	border-top: 0;
}

/* --- eom --- */

window.eom-window box.primary-toolbar toolbar {
	padding: 0;
	border: 0;
}

window.eom-window statusbar {
	margin-top: 0;
}

window.eom-window statusbar statusbar {
	border: 0;
}

window.eom-window statusbar frame {
	padding-bottom: 6px;
}

window.eom-window statusbar.classic frame {
	padding-bottom: 1px; /* with gtk3-classic (appearance__smaller-statusbar.patch) */
}

window.eom-window statusbar > label {
	margin-bottom: 5px;
	border-top: 1px solid @toolbar_border_top;
}

window.eom-window statusbar.classic > label {
	margin: 0; /* with gtk3-classic (appearance__smaller-statusbar.patch) */
	padding-bottom: 1px;
}

window.eom-window statusbar > box {
	margin: 0 -4px;
	border-top: 1px solid @toolbar_border_top;
}

window.eom-window statusbar box progressbar.horizontal {
	margin: 0 4px 4px;
}

window.eom-window statusbar.classic box progressbar.horizontal {
	margin: 1px 4px 0;
}

window.eom-window.maximized statusbar box progressbar.horizontal {
	margin: 0 4px 5px;
}

window.eom-window.maximized statusbar.classic box progressbar.horizontal {
	margin: -1px 4px 1px;
}

/* --- pluma --- */

window.pluma-window statusbar {
	margin-top: -2px;
}

window.pluma-window statusbar #pluma-status-combo-button {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* --- mate-control-center --- */

#MyControlCenter:dir(ltr) > frame > box > box.vertical + box.vertical,
#MyControlCenter:dir(rtl) > frame > box > box.vertical:first-child {
	margin: 5px;
}

#MyControlCenter:dir(ltr) scrolledwindow scrollbar.vertical {
	border-left: 1px solid @menu_border;
	background: @theme_bg;
}

#MyControlCenter:dir(rtl) scrolledwindow scrollbar.vertical {
	padding-left: 2px;
	padding-right: 3px;
	border-right: 1px solid @menu_border;
	background: @theme_bg;
}

#MyControlCenter scrolledwindow scrollbar.horizontal {
	border-top: 1px solid @menu_border;
	background: @theme_bg;
}

/* --- mate-keyboard-layout-view & mate-keyboard-layout-chooser --- */

/* .gswitchit-layout-view > box.dialog-vbox > box.vertical > widget,
#xkb-layout-chooser > box.dialog-vbox > box.vertical > box.vertical > frame > widget, */
matekbd-keyboard-drawing {
	background-color: shade(@theme_bg_color, 1.0);
}

/* --- mate-notification-daemon v1.28.4 --- */
/* @see https://github.com/mate-desktop/mate-notification-daemon/pull/232 233 234 */
/* coco-theme nodoka-theme slider-theme default-theme */

.notification-box.coco-theme {
	border: 1px solid @theme_selected_bg;
	border-radius: 6px; /* @see nodoka_rounded_rectangle (... 6) */
	background: alpha(@theme_selected_bg, 0.4);
}

.notification-box.coco-theme .body {
	margin-top: 5px;
}

.notification-box.coco-theme button,
.notification-box.nodoka-theme button,
.notification-box.default-theme button {
	padding: 2px;
}

.notification-box.coco-theme button image + label,
.notification-box.nodoka-theme button image + label,
.notification-box.default-theme button image + label {
	margin-left: -4px;
}

.notification-box.coco-theme .actions-box button,
.notification-box.nodoka-theme .actions-box button,
.notification-box.default-theme .actions-box button {
	margin: 0 -1px;
	padding: 3px 4px;
}

.notification-box.coco-theme .actions-box button:nth-last-child(2),
.notification-box.nodoka-theme .actions-box button:nth-last-child(2),
.notification-box.default-theme .actions-box button:nth-last-child(2) {
	/* [button] [button] button{applyHere} countdown */
	margin-right: 7px;
}

.notification-box.nodoka-theme .actions-box button:not(:hover),
.notification-box.default-theme .actions-box button:not(:hover) {
	border-color: transparent;
	background: transparent;
	box-shadow: none;
}

.notification-box.coco-theme .actions-box {
	margin-top: 6px;
}

.notification-box.coco-theme .actions-box button, .notification-box.coco-theme .actions-box button:hover,
.notification-box.coco-theme .actions-box button:active, .notification-box.coco-theme .actions-box button:focus {
	color: #DDD; /* dark background */
	border: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	transition: color 0.3s;
}

.notification-box.coco-theme .actions-box button:hover {
	color: gray; /* @todo */
}

.notification-box.coco-theme .actions-box button image {
	transition: opacity 0.3s;
}

.notification-box.coco-theme .actions-box button:hover image {
	opacity: 0.6;
}

.notification-box.coco-theme .countdown:selected {
	/* the countdown color */
	background-color: @theme_notification_countdown;
}
